body{
    margin: 0;
    padding: 0;
    background: #E5E5E5;
}

.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
    background: #F3F5FC;
    display: gird;
    gird-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
}

h1{
    color: #0A3871;
    font-size: medium;
}

.logo{
    width: 100%;
    float: left;
    background: #F3F5FC;
}

.left{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;
    background: #F3F5FC;
}

.right{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: white;
    display: gird;
    gird-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
}

.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    background: #F3F5FC;
}

P{
    color: #495057;
    text-align: left;
    margin-left: 12%;
}

.logo_img{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}

.title{
    float: inherit;
    margin-left: 15%;
}

.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color:#0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #F3F5FC;
}

#muñeco-img{
    margin-top: 20%;
    margin-left: 2%;
    width: 90%;
    height: auto;
}

#texto{
    margin-left: 7%;
    margin-right: 5%;
    color: #343A40;
}

#texto-2{
    float: left;
    margin-left: 10%;
    color: #495057;
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 15px;
}

#boton-encriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background: #0A3871;
    color: white;
    cursor: pointer;
    transition: .5s;
}

#boton-desencriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background: #D8DFE8;
    cursor: pointer;
    transition: .5s;
}

#copiar{
margin-left: 33%;
margin-top: 90%;
padding: 24px;
width: 40%;
height: 10%;
background: white;
border-radius: 24px;
display: none;
cursor: pointer;
    transition: .5s;
}

